{%extends "ticketsales/layout.html"%}
{% block titlepage %}
لیست کنسرت ها
{%endblock%}

{% block main_content%}

            {% if concert_list %}
            {% for concert in concert_list %}
            <div class="col-md-3 mb-4">
                <a href="#" style="text-decoration: none; color: inherit;">
                    <div class="imageBox">

                        {% if concert.poster %}
                        <img src="{{ concert.poster.url }}" class="img-fluid rounded mb-2" alt="پوستر">
                        {% else %}
                        <div class="bg-light rounded mb-2 d-flex align-items-center justify-content-center"
                            style="height: 150px; border: 1px solid #ddd;">
                            <span class="text-muted">بدون تصویر</span>
                        </div>
                        {% endif %}

                        <h5>{{ concert }}</h5>

                    </div>
                </a>
            </div>
            {% endfor %}
            {% endif %}
{%endblock%}
       