{% extends "ticketsales/layout.html" %}

{% block titlepage %}
لیست مکان های برگزاری کنسرت
{% endblock %}

{% block main_content %}

<div class="row location-header align-items-center text-center">
    <div class="col-md-3">
        نام سالن
    </div>
    <div class="col-md-9">
        آدرس
    </div>
</div>

{% if location_list %}
{% for location in location_list %}

<div class="row location align-items-center text-center">
    <div class="col-md-3">
        {{ location.Name }}
    </div>

    <div class="col-md-9">
        {{ location.Address }}
    </div>
</div>

{% endfor %}
{% endif %}

{% endblock %}